@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 98vw;
    height: 98vh;
    background-color: #F4D04E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.card {
    background-color: white;
    width: 38.4em;
    padding: 2.4em;
    border-radius: 2em;
    box-shadow: .8em .8em black;
}
.card-container {
    width: 33.6em;
    display: flex;
    flex-direction: column;
    row-gap: 2.4em;
}

.card-container__image {
    width: 100%;
    border-radius: 1em;
}

.card-container__details {
    display: flex;
    flex-direction: column;
    row-gap: 1.2em;
}

.card-container__details-tag {
    align-self: flex-start;
    background-color: #F4D04E;
    padding: .4em 1.2em;
    border-radius: .4em;
    font-size: 1.4em;
    line-height: 150%;
}

.card-container__details-date {
    font-size: 1.4em;
    line-height: 150%;
}

.card-container__details-title {
    font-size: 2.4em;
    line-height: 150%;
    font-weight: 400;
    
}

.card-container__details-desc {
    color: #7F7F7F;
    font-size: 1.6em;
    line-height: 150%;
}

.card-container__author-container {
    display: flex;
    align-items: center;
}

.card-container__author-container__img{
    width: 3.2em;
    height: 3.2em;
    margin-right: 1.2em;
}

.card-container__author-container__name {
    font-size: 1.4em;
    line-height: 150%;
}